<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Styles/carousel.css" rel="stylesheet"/>
    <title>Carousel</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-aaron-burden-2449549.jpg" alt="city1"/>
                <div class="carousel-item__details">
                   <div>
                    <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                    <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                   </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-aleksandar-pasaric-1285625.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                       </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-guillaume-hankenne-2819582.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                       </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-aleksandar-pasaric-1285625.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                    </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-james-wheeler-1486974.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                    </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-lina-kivaka-3989820.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                    </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-michael-block-3225528.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                    </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="../assets/pexels-michael-giugliano-2928058.jpg" alt="city1"/>
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/glyph-neue/64/4a90e2/circled-play.png" alt="button play"/>
                        <img src="https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png" alt="button add"/>
                    </div>
                   <p class="carousel-item__details--title">Titulo</p>
                   <p class="carousel-item__details--subtitle">Subtitulo</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>